.body{
    background-image: none;
    background-color: white;
}

.elec{
    overflow: scroll;
    height: 850px;
    width: auto;
}

.elec a{
    text-decoration: none;
    margin:10px;
}

.elec a p{
 }