.body{
    background-image: none;
    background-color: white;
}

.fashion{
    overflow: scroll;
    height: 850px;
    width: auto;
    background-color: #F1F3F6;

}

.fashion h1{
    margin-left: 55px;
}

.men a {
    margin:50px;
    color: black;
    display: inline;
    text-decoration: none;

    padding: 0px;

}

.men p {
    margin-left:35px;

 }

 .women a {
    margin:50px;
    color: black;
    display: inline;
    text-decoration: none;

    padding: 0px;

}

.women p {
    margin-left:35px;

 }
