.body{
    background-image: none;
}

.furniture{
    overflow: scroll;
    height: 850px;
    width: auto;
    background-color: #F1F3F6;

}

.furniture h1{
    margin-left: 55px;
}

.sofa a {
    margin:50px;
    color: black;
    display: inline;
    text-decoration: none;

    padding: 0px;

}

.sofa p {
    margin-left:50px;

 }

 .table a {
    margin:50px;
    color: black;
    display: inline;
    text-decoration: none;

    padding: 0px;

}

.table p {
    margin-left:50px;

 }

 .bed a {
    margin:50px;
    color: black;
    display: inline;
    text-decoration: none;

    padding: 0px;

}

.bed p {
    margin-left:50px;

 }