.main{
text-align: center;
}
.cart{
    width: 5%; 
	line-height: 18px;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 15px;
	color: white;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	background-color: #90e9bf;
	cursor: pointer;
    margin-left:80%;
}
.logout{
    width: 5%; 
	line-height: 18px;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 15px;
	color: white;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	background-color: #dd5555;
	cursor: pointer;
    margin-left:5%;
}
.btn-primary {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: #ffffff;
    font-size: 43px;
    background: #007bff;
    padding: 25px 40px 25px 40px;
    border: solid #007bff 1px;
    text-decoration: none;
  }
  
  .btn-primary:hover {
    text-decoration: none;
    color: #fff;
    background-color: #0875ea;
    border-color: #0062cc;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .btn-danger:before {
    /* content: "\1F614"; */
    content: "\2BAA";
  }
  
  .btn-danger {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: #ffffff;
    font-size: 43px;
    background: #dc3545;
    padding: 25px 40px 25px 40px;
    border: solid #dc3545 1px;
    text-decoration: none;
  }
  
  .btn-danger:hover {
    text-decoration: none;
    color: #fff;
    background-color: #dc3545;
    border-color: #bd2130;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }