.foot{
    background-color: #172337;
    width: 100%;
    height:400px;
    margin-top: 0%;

}

.foot1{
    margin-left: 5%;

}
.foot1 p{
    
    color: grey;
    font-weight: bold;

}

.foot1 a{
    color: white;
    line-height: 2;
    text-decoration: none;
    font-weight: bold;
}
.foot2{
    margin-left: 25%;
    margin-top: -15.5%;
    position: relative;

}
.foot2 p{
    color: grey;
    font-weight: bold;
}

.foot2 a{
    color: white;
    line-height: 2;
    text-decoration: none;
    font-weight: bold;
}
.foot3{
    margin-left: 45%;
    margin-top: -15.5%;
    position: relative;

}
.foot3 p{
    color: grey;
    font-weight: bold;
}

.foot3 a{
    color: white;
    line-height: 2;
    text-decoration: none;
    font-weight: bold;
}
